.card-container {
    border: 2px solid #999;
    border-radius: 10px;
    background-color: #eee;
    text-align: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}